.App {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-direction: row;

  .div1{
    background-color: #224a46;
    height: 100vh;
    flex-grow: 1;
  }
  .div2{
    background-color: #4a2241;
    height: 100vh;
    flex-grow: 1;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
