.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;

  .app {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    background-color: #eeeeee;

    .urls-container {
      display: flex;
      justify-content: flex-end;
    }
  }

  footer {
    display: flex;
    flex-grow: 0;
    width: 90vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #224a46;

    .save-btn {
      display: flex;
      width: 100px;
      height: 40px;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .save-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #224a46;
  }

}
